<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Bionic Reading POC</title>
</head>

<body>

    <%- include('partials/header.html'); %>
    
    <main role="main" class="container">

        

        <div id="aboutInfo">
            <p>About page</p>
        </div>

    </main><!-- container -->

    <%- include('partials/footer.html'); %>
</body>

</html>