<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Bionic Reading POC</title>
</head>

<body>

    <%- include('partials/header.html'); %>
    
    <main role="main" class="container">

        
        <div class="row">
            <div id="aboutInfo" class="col-md-8 offset-md-2 py-5">
                <h2>What is Bionic Reading?</h2>

                <p class="lead">Bionic Reading is a new reading method that works by creating fixation points in a text that help guide the reader's eyes, helping readers to read long passages of text quickly and effortlessly.</p>

                <p>Why not try it yourself? Compare your experience reading the two texts below.</p>

            </div><!-- aboutInfo -->
        </div><!-- row -->


        <!-- Bionic Reading example  -->
        <div id="bionicExample" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <img src="images/normal-example.jpg" class="img-fluid" alt="An example of normal text">
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <img src="images/bionic-example.jpg" class="img-fluid" alt="An example of Bionic text">
            </div>
        </div>

        <!-- Benefits Section -->
        <div class="row">
            <div id="aboutBenefits" class="col-md-8 offset-md-2 py-5">

                <h2>The Benefits of Bionic Reading</h2>

                <p>Bionic Reading has so much more to offer than just increasing reading speed.</p>

                <p>We believe that Bionic Reading can not only help you to read faster, but boost concentration and engagement. Bionic Reading has the potential to transform the reading experience for all!</p>

                <p>In particular, Bionic Reading can help:</p>

                <ul>
                    <li>Those with accesibility concerns or visual impairments</li>
                    <li>Those with ADHD</li>
                    <li>Those thast struggle to read long passages online</li>
                </ul>

                <p>So if you're ready to begin your Bionic Reading journey, click the link below!</p>

                <p class="text-center py-4"><a href="/" class="btn btn-lg btn-primary">Get Started</a></p>

            </div><!-- aboutBenefits -->
        </div><!-- row -->

        <!-- About Our App Section -->



        <!-- Team Section -->
        <div class="row">
            <div id="teamSection" class="col-md-8 offset-md-2 py-5">
                <div class="row">
                    <h2>Meet Our Team</h2>
                    
                    <div id="robert" class="col-md-4 teamMemberBio text-center">
                        <img class="rounded-circle" src="/images/robert-allsop.jpg" alt="Robert Allsop" width="140" height="140">
                        <h3>Robert Allsop</h3>
                        <p>Student & Developer who enjoys playing and designing video games.</p>
                        <p><a class="btn btn-secondary" href="https://github.com/orgs/Team-48-Agile/people/ArcticPolar" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div id="christian" class="col-md-4 teamMemberBio text-center">
                        <img class="rounded-circle" src="/images/christian-bell.jpg" alt="Christian Bell" width="140" height="140">
                        <h3>Christian Bell</h3>
                        <p>Developer, Student, Designer and all round digital nomad.</p>
                        <p><a class="btn btn-secondary" href="https://github.com/orgs/Team-48-Agile/people/christianb3ll" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div id="rafay" class="col-md-4 teamMemberBio text-center">
                        <img class="rounded-circle" src="" alt="Rafay Shahood" width="140" height="140">
                        <h3>Rafay Shahood</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="https://github.com/orgs/Team-48-Agile/people/rafayshahood" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div id="lucas" class="col-md-4 teamMemberBio text-center">
                        <img class="rounded-circle" src="" alt="Lucas Viola" width="140" height="140">
                        <h3>Lucas Viola</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="https://github.com/orgs/Team-48-Agile/people/lucasviola" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->
                </div><!-- row -->
            </div><!-- teamSection -->


        </div><!-- row -->


    </main><!-- container -->

    <%- include('partials/footer.html'); %>
</body>

</html>