<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <title>Bionic Reading POC</title>
</head>

<body>

    <%- include('partials/header.html'); %>
    
    <main role="main" class="container">

        
        <div class="row">
            <div id="aboutInfo" class="col-md-8 offset-md-2 py-5">
                <h2>What is Bionic Reading?</h2>

                <p class="lead">Bionic Reading is a new reading method that works by creating fixation points in a text that help guide the reader's eyes, helping readers to read long passages of text quickly and effortlessly.</p>

                <p>Why not try it yourself? Compare your experience reading the two texts below.</p>

            </div><!-- aboutInfo -->
        </div><!-- row -->


        <!-- Bionic Reading example  -->
        <div id="bionicExample" class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <img src="images/normal-example.jpg" class="img-fluid" alt="An example of normal text">
            </div>
            <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <img src="images/bionic-example.jpg" class="img-fluid" alt="An example of Bionic text">
            </div>
        </div>

        <!-- Benefits Section -->
        <div class="row">
            <div id="aboutBenefits" class="col-md-8 offset-md-2 py-5">

                <h2>The Benefits of Bionic Reading</h2>

                <p>Bionic Reading has so much more to offer than just increasing reading speed.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
            </div><!-- aboutBenefits -->
        </div><!-- row -->



        <!-- Team Section -->
        <div class="row">
            <div id="teamSection" class="col-md-8 offset-md-2 py-5">
                <div class="row">
                    <h2>Meet Our Team</h2>
                    
                    <div class="col-md-4 teamMemberBio">
                        <img class="rounded-circle" src="" alt="" width="140" height="140">
                        <h3>Robert Allsop</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div class="col-md-4 teamMemberBio">
                        <img class="rounded-circle" src="" alt="" width="140" height="140">
                        <h3>Christian Bell</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div class="col-md-4 teamMemberBio">
                        <img class="rounded-circle" src="" alt="" width="140" height="140">
                        <h3>Rafay Shahood</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->

                    <div class="col-md-4 teamMemberBio">
                        <img class="rounded-circle" src="" alt="" width="140" height="140">
                        <h3>Lucas Viola</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam convallis tortor a sapien laoreet dignissim. Nam venenatis vestibulum est efficitur feugiat. Proin tincidunt nisi laoreet nisl vehicula malesuada. Fusce at erat metus. Vestibulum ac ante eget eros pulvinar rhoncus. Aliquam ligula nisl, facilisis vitae enim ac, eleifend efficitur neque. Vivamus tempor felis ut consequat lobortis.</p>
                        <p><a class="btn btn-secondary" href="#" role="button">GitHub Profile</a></p>
                    </div><!-- col-lg-4 -->
                </div><!-- row -->
            </div><!-- teamSection -->


        </div><!-- row -->


    </main><!-- container -->

    <%- include('partials/footer.html'); %>
</body>

</html>