/* Define Colour Variables */
:root {
  --primary-blue: #046B99;
  --dark-blue: #1C304A;
  --white: #ffffff;
  --black: #000000;
  --grey: #F4F3F3;
  --green-highlight: #06BA63;
}



/* Common CSS */
* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

h1.logo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: var(--primary-blue);

}


/* Header CSS */
/*header { grid-area: header; }*/

header {
    /*background: #088F8F;*/
    /*color: white;    */
}


/* Navigation CSS */
/*nav { grid-area: nav; }*/

nav {
/*    background: #088F8F;
    color: white;   */
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--black);
}

/*nav ol {
    list-style: none; 
    text-align: center;
}

nav li {
    display: inline;
    border: 1px solid black;
    border-radius: 3px;
    padding: 8px;
    background: lightgrey;
}

nav li a {
    display: inline-block;
    padding: 10px;
    color: black;
    text-decoration: none;
    width: 150px;
}*/


/* Footer CSS */
/*footer { grid-area: footer; }*/

footer{
    padding: 2em;
    background: var(--dark-blue);
    color: var(--white);
}

footer ul{
    list-style: none;
    padding: 0;
}





/* Index.html / convert page CSS */
/*#textInput { grid-area: textInput; }
#fileUpload { grid-area: fileUpload; }

.grid-container-convert {
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-areas:
        'header nav'
        'textInput textInput'
        'fileUpload fileUpload'
        'footer footer'
}*/


/* Text Input CSS */
#textInput {
    padding: 20px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive */

#textInput input[type=submit] {
    width: 150px;
    padding: 10px;
    /*float: left;*/
    background-color: var(--primary-blue);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#textInput input[type=number] {
    width: 100px;
    padding: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

#textInput textarea {
    width: 50%;
    height: 200px;
    padding: 10px;
    background-color: #f2f2f2;
    resize: vertical;
    margin-top: 15px;
    margin-bottom: 15px;
}

#textInput label {
    font-size: 20px;
}


/* File Upload CSS */
#fileUpload {
    padding: 20px;
}

#fileUpload input[type=submit] {
    width: 150px;
    padding: 10px;
    /*float: left;*/
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#fileUpload input[type=number] {
    width: 100px;
    padding: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

#fileUpload label {
    font-size: 20px;
}


/* About.html */
/*#aboutInfo { grid-area: aboutInfo; }*/

/*.grid-container-about {
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-areas:
        'header nav'
        'aboutInfo aboutInfo'
        'footer footer'
}
*/

/* Customise.ejs */
/*#textArea { grid-area: text; }
#customisationArea { grid-area: customisation; }

.grid-container-customise {
    display: grid;
    grid-template-columns: auto 600px;
    grid-template-areas:
        'header nav'
        'text customisation'
        'footer footer'
}*/

#textArea {
    padding: 4em;
    margin: 1em;
    height: 1000px;
    overflow-y: scroll;
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}

.focused {
    box-shadow: 0px 0px 2000px 2000px rgb(95 95 95 / 80%) !important;
}



#textInput input[type=submit] {
    width: 150px;
    padding: 10px;
    /*float: left;*/
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#customisationArea {
    padding: 20px;
    background: var(--grey);
    border-radius: 4px;
}

/* Helped aligning the buttons on the same row => https://stackoverflow.com/questions/50615418/have-2-elements-share-same-line-with-flexbox */
#customisationArea #btnArea {
    text-align: center;
    padding: 10px;
}

#customisationArea #btnArea .btn {
    display:inline-block;
    padding: 10px;
}

#customisationArea #btnArea #focusModeBtn {
    background-color: var(--green-highlight);
    color: var(--black);
}

#customisationArea #btnArea .btn button {
    width: 150px;
    padding: 10px;
    /*float: left;*/
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
}

#customisationArea #btnArea .btn a {
    width: 150px;
    padding: 10px;
    /*float: left;*/
    background-color: var(--primary-blue);
    color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: medium;
}

#customisationArea input[type=number], select {
    width: 100%;
    padding: 5px;
    background-color: #f2f2f2;
    margin-bottom: 15px;
}

#customisationArea input[type=range] {
    width: 100%;
    margin-bottom: 15px;
}

#customisationArea label {
    font-size: 20px;
}

.copyright-notice {
    padding: 2em;
}